/* GENERICS */

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

a {
  color: gray;
}

/* UTILS */

.my-border {
  border: 2px solid red;
}

/*
- Definiamo il colore del body 
- Diamo un altezza fissa che in questo caso, essendo una web app 
  sarà pari alla Viewport
*/

body {
  background-image: linear-gradient(to top, #d9dbd5 80%, #229688 20%);
  height: 100vh;
}

/* 
- Cambiamo il display in flex così da posizionare correttamente 
  l'area dei contenuti
*/

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
-Vedo tutta la sezione di messaggistica come il main
 aquesto punto dò height e width fissa  
*/

main {
  height: 80vh;
  width: 70vw;
}

/* **************
 CHAT HEADER
************** */

#chat-header {
  background-color: #eaeaea;
}

/*
- Ridimensioniamo il figure per l'image dell'user 
*/

#chat-header figure,
#contact-chats figure,
#contact-on-top figure {
  width: 50px;
  height: 50px;

  border-radius: 50%;
}

figure img {
  object-fit: cover;
}

/*
- Background delle notifiche 
*/

#ab-disable-desk-not {
  background-color: #8edafd;
  height: 100px;
}

/*
- Serve esclusivamente ad effettuare il design della notifica 
*/

#alert-figure {
  background-color: white;

  width: 60px;
  height: 60px;

  color: #8edafd;
}

/*
- Ridimensioniamo il font-size nella gestione delle notifiche desktop
- settiamo il line-height altrimenti il tag p di BS fa di testa sua 
*/

#ab-disable-desk-not p,
#contact-on-top p {
  font-size: 12px;
  line-height: auto;
}

nav {
  height: 60px;
}

#chat-spotlight {
  background-color: white;
}

#input-chat {
  border-radius: 0;
}

/* 
- Ricaviamo attraverso il calc l'altezza fissa in modo 
  tale da permettere lo scroll laterale
*/

#contact-chats {
  width: 100%;

  height: calc(100% - 226px);
  overflow-y: scroll;
}

/*
Definiamo la grafica del singolo contatto 
*/

#contact-chats .chat-contact {
  display: flex;
  align-items: center;

  max-height: 80px;

  background-color: white;

  cursor: pointer;
}

#contact-chats .contact-info {
  display: flex;
  flex-direction: column;

  cursor: pointer;
}

/* 
Barra de
*/

#contact-on-top {
  max-height: 65px;
  width: 100%;

  background-color: #eaeaea;

  display: flex;
  justify-content: space-between;
}

/*
Chat area 
*/

#chat-area {
  height: 80vh;
}

/*
Write message
*/

#write-message {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;

  background-color: #eaeaea;

  padding: 1rem;
}

/* 
Message area:
- Altezza calcolata in modo tale da farla
  rientrare
- Diamo un background all'area messaggistica
*/

#message-area {
  height: calc(100% - 135px);
  overflow-y: scroll;

  background-image: url("../img/mine.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}

/*
User message 
*/

#message-area .message {
  color: black;

  border-radius: 20px;
  padding: 10px;

  min-width: 100px;
  max-width: 300px;
}

#message-area .user-message {
  background-color: lightgreen;
}

#message-area .contact-message {
  background-color: white;
}

.message-on-right {
  justify-content: flex-end;
}

.message-on-left {
  justify-content: flex-start;
}

.message-date {
  font-size: 12px;
  color: gray;
}
