/* GENERICS */

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

/* UTILS */

.my-border {
  border: 2px solid red;
}

/*
- Definiamo il colore del body 
- Diamo un altezza fissa che in questo caso, essendo una web app 
  sarà pari alla Viewport
*/

body {
  background-image: linear-gradient(to top, #d9dbd5 80%, #229688 20%);
  height: 100vh;
}

/* 
- Cambiamo il display in flex così da posizionare correttamente 
  l'area dei contenuti
*/

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
-Vedo tutta la sezione di messaggistica come il main
 aquesto punto dò height e width fissa  
*/

main {
  height: 80vh;
  width: 70vw;

  border: 1px solid black;
}

/* **************
 CHAT HEADER
************** */

#chat-header {
  background-color: #eaeaea;
}

#chat-header figure {
  width: 50px;
  height: 50px;

  border-radius: 50%;
}

#chat-header figure img {
  object-fit: cover;
}

#ab-disable-desk-not {
  background-color: #8edafd;
  height: 100px;
}

#alert-figure {
  background-color: white;

  width: 60px;
  height: 60px;

  color: #8edafd;
}

/*
- Ridimensioniamo il font-size nella gestione delle notifiche desktop
- settimao il line-height altrimenti il tag p di BS fa di testa sua 
*/

#ab-disable-desk-not p {
  font-size: 15px;
  line-height: auto;
}

#chat-spotlight {
  background-color: white;
}

#input-chat {
  border-radius: 0;
}
